*
{
    margin:0;
    padding:0;
    font-family: sans-serif;
    box-sizing:border-box;
    text-transform: capitalize;
}
html
{
    font-size:15px;
    scroll-behavior: smooth;
}
html::-webkit-scrollbar
{
    width:12px;
}
html::-webkit-scrollbar-thumb
{
    background: rgb(236, 35, 119);
}
section
{
    min-height: 100vh;
    padding:15px 10%;
    padding-top:120px;
}
header 
{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    background:whitesmoke;
    padding:15px;
    box-shadow:0 3px 4px lightgray;
    display: flex;
    align-items:center;
    justify-content:space-between;
}
header .logo img 
{
    height:85px;
}
header .navigate ul 
{
    display: flex;
    align-items: center;
    justify-content:center;
    list-style: none;
}
header .navigate ul li 
{
    margin-left:45px;
}
header .navigate ul li a 
{
    font-size: 18px;
    color:limegreen;
    text-decoration:none;
    font-weight: 500;
}
header .navigate ul li a:hover 
{
    color:rgb(236, 35, 119);
}
header #menu 
{
    font-size: 30px;
    color:rgb(236, 35, 119);
    cursor: pointer;
    display: none;
}


/*---------------------contact us---------*/
.contact
{
    padding-top:8.5rem;
}
.cake-contact
{
    width:100%;
    background:whitesmoke;
}
.cake-contact-row
{   
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items:center;
}
.cake-contact-col 
{
    margin:2rem;
    flex: 1 1 20rem;
    text-align:center;
}
.cake-contact-col .images 
{
    border:1px solid #fff;
}
.cake-contact-col img
{
    width:90%;
    height:auto;
    margin:1.5rem;
    padding:1rem;
    flex:1 1 21rem;
    border:1px solid transparent;
    border-radius: 1rem;   
}
.cake-contact-col h1 
{
    padding:1rem 0;
    color:rgb(236, 35, 119);
    letter-spacing: .1rem;
}
.cake-contact-col .social i
{
    padding:.8rem;
    border: none;
    border-radius: 1rem;
    background:rgb(236, 35, 119);
    color:#fff;
    font-size: 1.5rem;
}
.cake-contact-col .social i:hover 
{
    transition: 0.5s ease;
    background: limegreen;
    color:#fff;
    cursor: pointer;
}
.cake-contact-col p 
{
    padding:.5rem 0;
    line-height:1.5rem;
    color:gray;
}
.cake-contact-col input, .cake-contact-col textarea 
{
    width:80%;
    padding:1rem;
    margin-bottom:1.2rem;
    border:none;
    border-bottom:.1rem dotted rgb(236, 35, 119);  
}
.cake-contact-col textarea
{
    resize: none;
	margin-left:54px;
}
.footer
{
    margin-top:75px;
    padding:45px;
    text-align:center;
    background: gray;
}
.footer p 
{
    letter-spacing: 2px;
    font-size: 23px;
    color:#fff;
}
