*
{
    margin:0;
    padding:0;
    font-family: sans-serif;
    box-sizing:border-box;
    text-transform: capitalize;
}
html
{
    font-size:15px;
    scroll-behavior: smooth;
}
html::-webkit-scrollbar
{
    width:12px;
}
html::-webkit-scrollbar-thumb
{
    background: rgb(236, 35, 119);
}
section
{
    min-height: 100vh;
    padding:15px 10%;
    padding-top:120px;
}
header 
{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    background:whitesmoke;
    padding:15px;
    box-shadow:0 3px 4px lightgray;
    display: flex;
    align-items:center;
    justify-content:space-between;
}
header .logo img 
{
    height:85px;
}
header .navigate ul 
{
    display: flex;
    align-items: center;
    justify-content:center;
    list-style: none;
}
header .navigate ul li 
{
    margin-left:45px;
}
header .navigate ul li a 
{
    font-size: 18px;
    color:limegreen;
    text-decoration:none;
    font-weight: 500;
}
header .navigate ul li a:hover 
{
    color:rgb(236, 35, 119);
}
header #menu 
{
    font-size: 30px;
    color:rgb(236, 35, 119);
    cursor: pointer;
    display: none;
}

/*----------------------------------services---------*/
.service .cake-list 
{
    display:flex;
    align-items:center;
    justify-content:center;
    list-style: none;
    padding:1rem 0;
    margin:1.5rem 0;
    border-top:.2rem dotted limegreen;
    border-bottom:.2rem dotted limegreen;
}
.service .cake-list .btn1 
{
    width:8rem;
    padding:.6rem;
    border-radius: 5px;
    border: none;
    background:rgb(236, 35, 119);
    color:#fff;
    font-size: 0.8rem;
    font-weight:600;
    letter-spacing: .1rem;
    margin:1rem;
    text-align:center;
}

.service .cake-list .btn1:hover 
{
    transition: .5s ease;
    background:limegreen;
    cursor: pointer;
}
.service .cake-row
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.service .cake-row .image
{
    margin:1.5rem;
    padding:1rem;
    flex:1 1 21rem;
    border-radius: 1rem;
    box-shadow: 0 .5rem 1rem rgb(236, 35, 119);
}
.service .cake-row .image img 
{
    width:100%;
    object-fit: cover;
    height: 20rem;
}
.service .cake-content
{
    flex:1 1 21rem;
}
.service .cake-content .cake-info
{
    padding:1rem 4rem;
}
.service .cake-content .cake-info h3 
{
    font-size: 1.5rem;
    color:rgb(236, 35, 119);
}
.service .cake-content .cake-info a i
{
    padding: 1rem 1rem 0 0;
    font-size: 1.5rem;
    color:limegreen;
}
.service .cake-content .cake-info a
{
    font-size: 1rem;
    font-weight:600;
    color:darkblue;
    cursor: pointer;
}
.service .cake-content .cake-info a:hover 
{
    text-decoration:underline;   
}

.footer
{
    margin-top:75px;
    padding:45px;
    text-align:center;
    background: gray;
}
.footer p 
{
    letter-spacing: 2px;
    font-size: 23px;
    color:#fff;
}
